*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.general-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background: #3076cc;
    z-index: 99;

    .max-content{
        box-sizing: border-box;
        max-width: 1200px;
        width: 100%;
        padding: 0 10px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    .logo{
        margin-right: auto; 
    }

    a{
        font-size: 16px;
        color: white;
        font-size: 16px;
        padding: 10px
    }
}

.page{
    margin-top: 80px;
}