$banner-height: 765px;
$banner-background-url: "/static/bg.jpg";

.banner-home{
    height: $banner-height;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url($banner-background-url) center;
    background-size: cover;

    .colored-button{
        margin-bottom: 32px;
    }
}

.banner-title{
    color:white;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 30px;
}

.banner-text{
    text-align: center;
    font-size: 16px;
    color: white;
    line-height: 1.8;
    margin-bottom: 90px;
}